# Виртуальная среда
venv/
env/

# База данных SQLite
*.sqlite3

# Локальные настройки
*.env
*.pyc
__pycache__/

# Django временные файлы
*.log
*.pot

# macOS системные файлы
.DS_Store

# IDE/редакторы
.idea/
*.swp
*.swo

# Тесты и отладка
*.pytest_cache/
htmlcov/
.coverage

# Папки сборки
build/
dist/